---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


/* Apply to both generally */
pre, code {
  font-family: monospace;
  font-size: 13px;
  background-color: #fffafa;
  color: #000000;
  border: 1px solid #333;
  border-radius: 6px;
}
.highlighter-rouge .highlight {
    background: rgb(255, 255, 255);
}
/* Fix code inside pre (avoid double background) */
pre code {
  background-color: transparent;
  border: none;
}



pre {
  padding: 13px;
  overflow-x: auto;
}

.wrapper {
  max-width: 800px; /* adjust to your liking */
  margin: 0 auto;   /* centers the wrapper */
  padding: 0 2rem;  /* increases side spacing */
}
